langgraph==0.2.76
langchain==0.3.7
langchain-groq==0.2.1
fastapi==0.115.4
uvicorn==0.32.0
streamlit==1.40.1
requests==2.32.3
python-dotenv==1.0.1
pydantic==2.11.10
mcp==1.30.0
langchain-mcp-adapters==0.1.14